.task {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--gray-500);
  border-radius: 0.5rem ;
  color: var(--gray-100);
  padding: 1rem;
}

.trash {
  background-color: transparent;
  border: none;
  align-self: start;
}

.checkedButton {
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid var(--blue);
  width: 1.09rem;
  height: 1.09rem;
}

.checkedButton.checked {
  background: url('../assets/icons/Check.svg') no-repeat center;
  background-color: var(--purple-dark);
  border-color: var(--purple-dark);
}

.checkedButton.checked + span {
  text-decoration: line-through;
  color: var(--gray-300);
}
