.task {
  display: grid;
  gap: 0.25rem;
  position: relative;
  transition: 0.2s;
  cursor: pointer;
}

.task.active {
  background-color: var(--gray-600);
  outline: 2px solid var(--gray-500);
}

.task.active {
  margin-top: 1.125rem;
}

.task .date {
  width: 100%;
  opacity: 0;
  top: 0.5rem;
  text-align: start;
  font-size: 0.66rem;
  color: var(--gray-300);
  transition: 0.2s;
  z-index: -1;
  position: absolute;
}

.task.active .date {
  opacity: initial;
  top: -1.125rem;
}

.task {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 0.75rem;
  background-color: var(--gray-500);
  border-radius: 0.5rem;
  padding: 1rem;
}

.message {
  background-color: transparent;
  border: none;
  color: var(--gray-100);
  font-size: 1rem;
}

.message:focus {
  outline: none;
}

.options {
  align-self: start;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.options button {
  background-color: transparent;
  border: none;
}

.options button {
  transition: 0.1s;
}

.options button:hover path,
.options button.active path {
  fill: var(--gray-100);
}

.checkedButton {
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid var(--blue);
  width: 1.09rem;
  height: 1.09rem;
  transition: 0.1s;
}

.checkedButton:hover {
  border-color: var(--purple-dark);
}

.checkedButton.checked {
  background: url("../assets/icons/Check.svg") no-repeat center;
  background-color: var(--purple-dark);
  border-color: var(--purple-dark);
}

.checkedButton.checked:hover {
  background-color: var(--blue);
  border-color: var(--blue);
}

.checkedButton.checked + input {
  text-decoration: line-through;
  color: var(--gray-300);
}
